@model CarpediaApp.Models.VehicleMake

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Details about your car:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MakeAbrv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MakeAbrv)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MakeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
